Package: homeware-ec2-dev
Maintainer: Ben West <bewest@gmail.com>
Section: web
Priority: extra
Standards-Version: 3.8.4
#Build-Depends: debhelper (>= 7)
Homepage: http://bitbucket.org/~bewest/homeware

Changelog: debian/changelog

Architecture: any
Depends: ${misc:Depends}, ${homeware-ec2-dev:Depends},
         build-essential,
         mercurial,
         lighttpd,
         python,
         libfreetype6-dev,
         pkg-config,
         python-dev,
         python-cherrypy3,
         python-sqlite,
         python-cairo,
         python-setuptools
Description: Metapackage for web development environmet in ec2.
 This package should enable a sane environment when combined with ec2 and
 ubuntu's cloudinit.

